<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/bulma.min.css">
    <link rel="stylesheet" href="../css/base.css">

    <title></title>
</head>

<body>
    <div class="container is-justify-content-center">
        <div class="">
            <h1 class="title is-4 has-text-centered mt-4">Node launcher</h1>
            <div class="column">
                <input class="input is-primary" type="text" id="input-username" placeholder="Text input">
                <button onclick="play()" class="button is-fullwidth is-primary mt-4">Играть</button>
                <progress class="progress mt-4 is-primary" value="100" max="100">15%</progress>
            </div>
        </div>
    </div>
    <div class="debug" id="debug"></div>
    <script src="../js/render.js"></script>
    <script src="../js/main.js"></script>
</body>

</html>